# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/

# VS Code
.vscode/

# Project Athena Specific
# Data Directories (Track folders, ignore content)
data/logs/*
!data/logs/.gitkeep
data/notes/*
!data/notes/.gitkeep
data/memory.db

# Knowledge (Track folder, ignore binaries)
data/vector_store/*
!data/vector_store/.gitkeep
data/knowledge_db/*
!data/knowledge_db/.gitkeep
data/profile.json
test/test_output.txt
test/test_output_2.txt
.env
